<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410841677094-bf9dd4rjm0587ih961l94llp8i0bieg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410841677094-bf9dd4rjm0587ih961l94llp8i0bieg2</string>
	<key>API_KEY</key>
	<string>AIzaSyBSUIHX4umy8OHNJF6PcJ0IDUBmmFJhcx4</string>
	<key>GCM_SENDER_ID</key>
	<string>410841677094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdiEyes</string>
	<key>PROJECT_ID</key>
	<string>pdi-eyes</string>
	<key>STORAGE_BUCKET</key>
	<string>pdi-eyes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410841677094:ios:4f573696c835bec5e255e7</string>
</dict>
</plist>